.product-desc-container{
    border: solid 1px blueviolet;
    background-color: white;
    display: flex;
    align-items:center;
    margin: 80px;
    justify-content: space-around;
}

.product-desc-container img{
    /* height: 80%; */
    padding-right: 20px;
    width: 60%;

}

.product-desc-text {
    width: 40%;
    border: solid 1px blue;
}