.navbar{
    background-color: black;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-family: Arial, Helvetica, sans-serif;
}

.logo-cont {
display: flex;
align-items: center;
}

#logo {
    font-family: 'Gloock', serif;
    font-size: 60px;
    color: white;
}

.nav-icon {
    font-size: 60px;
}

.navlink{
    text-decoration: none;
    color: white;
    font-size: 24px;
    font-family: 'Montserrat', sans-serif;
}

.nav-search {
    height: 30px;
    width: 180px;
    border-radius: 8px 0 0 8px;
    border: none;
}

.nav-btn {
    font-weight: bold;
    border-radius: 0 8px 8px 0;
    height: 32px;
    border: none;
    width: 40px;
}

.searchForm {
    display: flex;
}